body{
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
  text-justify: inter-word;
  
}
#grand_container {
  background-color: rgba(141, 106, 60, 0.1);
  border-radius: 7px;
  padding: 1% 5%;
  margin: 0 5%;
}

#little_container {
  background-image: url(https://water.org/media/images/Waterorg_Resources_Header.original.jpg);
  background-size: cover;
  background-origin:  border-box;
  background-position: bottom;
  margin: -20px -10px 10px -10px;
  padding: 1% 1% 0% 1%;
}


.title_intro {
  color: #ffffff ;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  
}

#top {
  text-align: right;
}

#top span {
  float: left;
}


p {
  text-align: center;
  color: white;
  font-weight: bold;
}
p span.gauche {
  float: left;
}
p span.droite {
  float: right;
}
#line {
  border-bottom: rgb(141, 106, 60) 4px solid;
  width:120%;
  margin-left: -10%;
  height: 100%;
  margin-top: -10px;
}


#viz-client-container {
  width: 110%
}