body{
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
  text-justify: inter-word;
  
}
#grand_container {
  background-color: rgba(0, 76, 127, 0.05);
  border-radius: 7px;
  padding: 1% 5%;
  margin: 0 5%;
}
#little_container {
  background-color: red;
  margin-top: -5px
}


.title_intro {
  color: #004D7F;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  
}

#top {
  text-align: right;
}

#top span {
  float: left;
}


p {
  text-align: center;
  color: #004D7F
}
p span.gauche {
  float: left;
}
p span.droite {
  float: right;
}
#line {
  border-bottom: #004D7F 3px solid;
  width:120%;
  margin-left: -10%;
  height: 100%;
  margin-top: -10px;
}


#viz-client-container {
  width: 110%
}